<footer>
    <div class="footerinner">
        <div class="footerlinespace">
            <div class="footerline"></div>
        </div>

        <div class="footerfont">
            <p>Copyright © 2020 Titus Studios Media</p>
        </div>

        <div class="footerfontsub">
            <div class="footersubtext">
                <p></p>
            </div>
        </div>
    
        <div class="footersocial">
            <a href="https://twitter.com/TitusStudiosMG">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://t.me/titusstudios">
                <i class="fab fa-telegram-plane"></i>
            </a>
            <a href="https://steamcommunity.com/id/TitusStudiosMediaGroup">
                <i class="fab fa-steam"></i>
            </a>
            <a href="https://www.youtube.com/c/TitusStudios">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://github.com/TitusStudiosMediaGroup">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</footer>
