<div class="mainheader">
    <a href="https://www.titusstudios.net">
        <div class="logo"></div>
    </a>
    <div class="headiconstray">
        <div class="icontraysidealign" align="right">
            <div class="icontrayspacing1">
                <div class="home">
                    <a href="https://www.titusstudios.net">
                        <div class="traytext">
                            <p>Home</p>
                        </div>
                    </a>
                </div>

                <div class="blog">
                    <a href="https://www.titusstudios.net/blog">
                        <div class="icontraycolor">
                            <div class="traytext">
                                <p>Blog</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="github">
                    <div class="icontraycolor">
                        <div class="traytext">
                            <p>GitHub</p>
                        </div>
                    </div>

                    <div class="prjdropdown">
                        <a href="https://github.com/TitusStudiosMediaGroup">
                            <div class="icontraycolor">
                                <div class="traytext">
                                    <p>Profile</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="prjdropdown">
                        <a href="https://github.com/titus-studios-media">
                            <div class="icontraycolor">
                                <div class="traytext">
                                    <p>Organization</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="contact">
                    <a href="https://www.titusstudios.net/contact">
                        <div class="icontraycolor">
                            <div class="traytext">
                                <p>Contact</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
