<svg class="footerwave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#2d2532" fill-opacity="0.5" d="M0,128L60,154.7C120,181,240,235,360,250.7C480,267,600,245,720,245.3C840,245,960,267,1080,272C1200,277,1320,267,1380,261.3L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>

        <footer>
            <div class="footerinner">
                <div class="footerlinespace">
                    <div class="footerline"></div>
                </div>


                <div class="footerfont">
                    <div class="footercol">
                        <p><strong>COMMISSIONS</strong></p>

                        <ul class="footerlist">
                            <li>
                                <a>Pricing</a>
                            </li>
                            <li>
                                <a>Gallery</a>
                            </li>
                            <li>
                                <a>List</a>
                            </li>
                            <li>
                                <a>Slots</a>
                            </li>
                            <li>
                                <a>Work in Progress</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footercol">
                        <p><strong>RESOURCES</strong></p>

                        <ul class="footerlist">
                            <li>
                                <a>Blog</a>
                            </li>
                            <li>
                                <a>Updates</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footersocial">
                        <a href="https://twitter.com/fadestorm675">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCPOaLk8yZuKIsSxFrV5f8yg">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>

                    <div class="footerlinespace">
                        <div class="footerline"></div>
                    </div>

                    <div class="copyright">
                        <p>Copyright © 2020 Titus Studios Media</p>
                        <div class="copyrightinfo">
                            <a href="">[INFO]</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>	
