
/* Replacement Stylesheet for Google Forms (gforms API) */

.freebirdFormviewerViewEmbedded .freebirdFormviewerViewFormCard{
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
background-color: #a05757;
box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
word-wrap: break-word;
padding-bottom: 0;
border-radius: 6px;
margin-bottom: 6px;
margin-top: 0;
}
