/* Replacement Stylesheet for Google Forms (gforms API) */

/*
!!-TEMP ZONE START-!!

background-size: cover !important


!!-TEMP ZONE END-!!
*/

.freebirdFormviewerViewEmbedded .freebirdFormviewerViewFormCard { 
background-image: url(https://titusstudios.net/data/static/images/grad-bkg-new.png) !important;
background-size: cover !important;
}

.freebirdFormviewerViewFooterFooterContainer {
display: none !important
}

.freebirdFormviewerViewNavigationPasswordWarning {
display: none !important
}

.freebirdSolidBackground {
display: none !important
}

.freebirdFormviewerViewItemsItemItemTitle {
color: #fff !important 
}

.freebirdFormviewerViewFormContent {
color: rgb(255, 255, 255) !important 
}

.freebirdThemedInput .exportFocusUnderline {
background-color:  rgb(255, 255, 255) !important 
}

.quantumWizTextinputPapertextareaUnderline {
background-color: rgba(255, 255, 255, 0.3) !important 
}

.quantumWizTextinputPaperinputUnderline {
background-color: rgba(255, 255, 255, 0.3) !important 
}

.quantumWizTextinputPapertextareaPlaceholder {
color: rgba(255, 255, 255, 0.38) !important 
}

.quantumWizTextinputPaperinputPlaceholder {
color: rgba(255, 255, 255, 0.38) !important 
}

.quantumWizTextinputPaperinputInput {
color: #fff !important 
}

.quantumWizTextinputPapertextareaInput {
color: #fff !important 
}

.quantumWizTogglePapercheckboxInnerBox {
 border: 8px solid rgba(255, 255, 255, 0.05) !important 
}

.freebirdThemedCheckbox.isChecked:not(.isDisabled), .freebirdThemedCheckbox.isIndeterminate:not(.isDisabled) {
border-color: rgb(26, 115, 232) !important 
}




