.theme-default {
    display: none;
}

body {
    margin: 0;
}

.footerinner p {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 600px;
    background-color: #1d1721;
}

.footerinner {
    padding: 20px;
    z-index: 1;
}

.footerlinespace {
    max-width: 1000px;
    margin: auto;
    padding: 90px 0 0 0;
}

.footerline {
    border-bottom: solid 1px #bbb;
    opacity: 0.5;
}

.footerfont {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: #bbb;
    max-width: 1000px;
    margin: auto;
    padding: 15px 0 0 0;
    z-index: 10;
}

.footerfontsub {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: #bbb;
    opacity: 0.5;
    max-width: 1000px;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: end;
}

.footersubtext {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footersocial {
    max-width: 1000px;
    text-align: end;
    margin: auto;
    display: inline-block;
    float: right;
    margin-top: 25px;
}

.fa-telegram-plane {
    padding: 0 5px 0 0;
    color: #bbb;
    font-size: 22px;
    opacity: 0.5;
}

.fa-telegram-plane:hover {
    opacity: 1;
}

.fa-twitter {
    padding: 0 4px 0 0;
    color: #bbb;
    font-size: 22px;
    opacity: 0.5;
}

.fa-twitter:hover {
    opacity: 1;
}

.fa-github {
    color: #bbb;
    font-size: 22px;
    opacity: 0.5;
}

.fa-github:hover {
    opacity: 1;
}

.fa-steam {
    padding: 0 5px 0 0;
    color: #bbb;
    font-size: 22px;
    opacity: 0.5;
}

.fa-steam:hover {
    opacity: 1;
}

.fa-youtube {
    padding: 0 5px 0 0;
    color: #bbb;
    font-size: 22px;
    opacity: 0.5;
}

.fa-youtube:hover {
    opacity: 1;
}

.footerlist {
    list-style: none;
    margin: 0;
    margin-top: 12px;
    padding: 0;
}

.footercol {
    width: fit-content;
    display: inline-grid;
    margin-right: 50px;
    margin-top: 25px;
}

.footerlist li {
    margin-top: 5px;
}

.footerlist li a {
    opacity: 0.5;
    cursor: pointer;
}

.footerlist li a:hover {
    opacity: 1;
}

.footerfont a {
    text-decoration: none;
}

.copyright {
    text-align: end;
}

.copyright p {
    opacity: 0.5;
    margin-top: 12px;
}

.copyrightinfo a {
    font-size: 9px;
    color: #3bb2c7;
    display: none;
}

.footerwave {
    z-index: 10;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}
