<html>
    {% include head.html %}
    <body>
        <div class="blogpostcontent">
            <button>
                <i class="fas fa-arrow-left"></i>
                <a href="https://www.titusstudios.net/blog">Back to Blog</a>
            </button>

            <div class="blogheader">
                <div class="blogcategory">
                    <p>{{ page.postcategory }}</p>
                </div>

                <div class="blogtitle">
                    <p>{{ page.title }}</p>
                </div>
            </div>

            <div class="blogdesc">
                <p>{{ page.description }}</p>
            </div>

            <div class="blogline"></div>

            <div class="blogtags">
                {% for tag in page.tags %}
                    {% capture tag_name %}{{ tag }}{% endcapture %}
                    <div class="blogtag"><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        {% include footer.html %}
    </body>
</html>
