<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>
  <body>

    
      <header class="main-header" role="banner">
  <div class="main-header__container">
    <a class="main-header__logo" href="https://www.kiwirail.co.nz/" title="Return to homepage">
      <span class="dn--visually-hidden">KiwiRail</span>
    </a>

    <nav class="primary-nav" role="navigation">
  <ul>
    
      <li class="primary-nav__item">
        <a href="/what-we-do/" class="link" aria-haspopup="true" aria-expanded="false">What we do</a>

        <button aria-label="show submenu for What we do" aria-expanded="false">
          <svg width="15" height="9" xmlns="http://www.w3.org/2000/svg"><g fill="#F37021" fill-rule="evenodd"><path d="M14.556 1.485l-7.07 7.071-.59-.589L13.967.896z"/><path d="M1.003.896l7.072 7.071-.59.59-7.07-7.072z"/></g></svg>
        </button>

        <div class="primary-nav__menu-container">
          <ul class="primary-nav__menu">
            
              <li>
                <a href="/what-we-do/freight/" class="link">Freight</a>
              </li>
            
              <li>
                <a href="/what-we-do/great-journeys-of-new-zealand/" class="link">Tourism</a>
              </li>
            
              <li>
                <a href="/what-we-do/interislander/" class="link">Interislander</a>
              </li>
            
              <li>
                <a href="/what-we-do/projects/" class="link">Projects</a>
              </li>
            
              <li>
                <a href="/what-we-do/property/" class="link">Property</a>
              </li>
            
              <li>
                <a href="/what-we-do/zero-harm/" class="link">Zero Harm</a>
              </li>
            
              <li>
                <a href="/what-we-do/assets/" class="link">Our assets</a>
              </li>
            
          </ul>
        </div>
      </li>
    
      <li class="primary-nav__item">
        <a href="/our-story/" class="link" aria-haspopup="true" aria-expanded="false">Our story</a>

        <button aria-label="show submenu for Our story" aria-expanded="false">
          <svg width="15" height="9" xmlns="http://www.w3.org/2000/svg"><g fill="#F37021" fill-rule="evenodd"><path d="M14.556 1.485l-7.07 7.071-.59-.589L13.967.896z"/><path d="M1.003.896l7.072 7.071-.59.59-7.07-7.072z"/></g></svg>
        </button>

        <div class="primary-nav__menu-container">
          <ul class="primary-nav__menu">
            
              <li>
                <a href="/our-story/our-story/" class="link">Rail in New Zealand</a>
              </li>
            
              <li>
                <a href="/our-story/vision-and-purpose/" class="link">Vision and Purpose</a>
              </li>
            
              <li>
                <a href="/our-story/value-of-rail/" class="link">Value of Rail</a>
              </li>
            
              <li>
                <a href="/our-story/our-people/" class="link">Our people</a>
              </li>
            
              <li>
                <a href="/our-story/sustainability/" class="link">Sustainability</a>
              </li>
            
              <li>
                <a href="/our-story/community/" class="link">Community</a>
              </li>
            
              <li>
                <a href="/our-story/te-kupenga-mahi/" class="link">Te Kupenga Mahi</a>
              </li>
            
              <li>
                <a href="/our-story/history/" class="link">History</a>
              </li>
            
          </ul>
        </div>
      </li>
    
      <li class="primary-nav__item">
        <a href="/how-can-we-help/" class="link" aria-haspopup="true" aria-expanded="false">How can we help?</a>

        <button aria-label="show submenu for How can we help?" aria-expanded="false">
          <svg width="15" height="9" xmlns="http://www.w3.org/2000/svg"><g fill="#F37021" fill-rule="evenodd"><path d="M14.556 1.485l-7.07 7.071-.59-.589L13.967.896z"/><path d="M1.003.896l7.072 7.071-.59.59-7.07-7.072z"/></g></svg>
        </button>

        <div class="primary-nav__menu-container">
          <ul class="primary-nav__menu">
            
              <li>
                <a href="/how-can-we-help/access-the-rail-corridor/" class="link">Access the rail corridor</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/level-crossings/" class="link">Level crossings</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/emergencies/" class="link">Emergencies</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/property/" class="link">Property</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/rail-safety/" class="link">Rail safety</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/supply-or-buy/" class="link">Supply or buy</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/community-support/" class="link">Community support</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/report-something/" class="link">Report something</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/get-in-touch/" class="link">Get in touch</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/rail-heritage/" class="link">Rail heritage</a>
              </li>
            
              <li>
                <a href="/how-can-we-help/publications/" class="link">Codes, Standards and Checksheets</a>
              </li>
            
          </ul>
        </div>
      </li>
    
      <li class="primary-nav__item">
        <a href="/about-us/" class="link" aria-haspopup="true" aria-expanded="false">About us</a>

        <button aria-label="show submenu for About us" aria-expanded="false">
          <svg width="15" height="9" xmlns="http://www.w3.org/2000/svg"><g fill="#F37021" fill-rule="evenodd"><path d="M14.556 1.485l-7.07 7.071-.59-.589L13.967.896z"/><path d="M1.003.896l7.072 7.071-.59.59-7.07-7.072z"/></g></svg>
        </button>

        <div class="primary-nav__menu-container">
          <ul class="primary-nav__menu">
            
              <li>
                <a href="/about-us/governance/" class="link">Governance</a>
              </li>
            
              <li>
                <a href="/about-us/leadership-team/" class="link">Leadership team</a>
              </li>
            
              <li>
                <a href="/about-us/publications/" class="link">Publications</a>
              </li>
            
          </ul>
        </div>
      </li>
    
  </ul>
</nav>

    <nav class="secondary-nav" role="navigation">
  <ul>
    
    <li>
      <a href="/media/" class="link">Media</a>
    </li>
    
    <li>
      <a href="/contact-us/" class="link">Contact</a>
    </li>
    
    <li>
      <a href="https://careers.kiwirail.co.nz/home" class="link">Careers</a>
    </li>
    
    <li>
      <a href="/search" class="main-header__search-link">
        <svg viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><path d="M8.531 15.75a7.219 7.219 0 1 0 0-14.438 7.219 7.219 0 0 0 0 14.438zm6.479-1.667l5.798 5.796-.929.93-5.797-5.8a8.531 8.531 0 1 1 .928-.927v.001z" fill="#2A2A2A" fill-rule="evenodd"/></svg>
      </a>
    </li>
  </ul>
</nav>


    <button aria-label="Toggle navigation" class="mobile-nav-toggle" data-mobile-nav-show>
      <svg viewBox="0 0 37 17" xmlns="http://www.w3.org/2000/svg"><g fill="#2A2A2A" fill-rule="evenodd"><path d="M0 0h37v3H0zM0 7h37v3H0zM0 14h37v3H0z"/></g></svg>
    </button>
  </div>
</header>

    

    <main id="maincontent" role="main">
      <div class="element element-banner hero-banner" id="e265">
	<div class="element-banner__image">
  <picture>
	
		<source media="(min-width: 1600px)" srcset="/assets/Uploads/Hero-banners/8193acc700/MNL-Hero-1920x756-v2.jpg">
	
		<source media="(min-width: 768px)" srcset="/assets/Uploads/Hero-banners/35ce695912/MNL-Hero-1200x510.jpg">
	
		<source media="(min-width: 0px)" srcset="/assets/Uploads/Hero-banners/8b15aabf17/MNL-Hero-mobile-640x800.jpg">
	
	<img src="/assets/Uploads/Hero-banners/8b15aabf17/MNL-Hero-mobile-640x800.jpg" alt="MNL Hero mobile 640x800" />

</picture>

</div>

<div class="element-banner__content">
  <div class="element-banner__container dn--grid max center">
    
        <h1 class="element-banner__title text-shadow">Stronger Connections<br />
Better New Zealand</h1>
    
    <div class="hero-banner__logo"></div>
  </div>
</div>

</div>

      
      
    
    <div class="container">
      <section id="main_content">   
        {{ content }}
        <p>Copyright © 2019 Titus Studios Media. All rights reserved. <em>Contact Titus Studios Media, for more information or licencing.</em></p>
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
