<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <base href="https://titusstudiosmediagroup.github.io/">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% seo %}
  </head>
  <body>

	  
<!--CSS Spinner-->
<div class="spinner-wrapper">
<div class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>
</div>
	  
	  
<header>
	
      <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="headercontainer">
	      
      <a class="hlogo" style="color: rgba(0, 0, 0, 0);" href="https://titusstudiosmediagroup.github.io/" title="Return to homepage">
      <img src="/assets/images/website_logo.png" width="12%">
      </a>
      
      <div class="htext">
        <a style="color: rgba(0, 0, 0, 0); text-shadow: 0 0px 0px rgba(0, 0, 0, 0); font-size: 10px;" href="/content/pages/what-we-do"> <aheader>What we do</aheader> </a>
	</div>
	<div class="htext">
	<a style="color: rgba(0, 0, 0, 0); text-shadow: 0 0px 0px rgba(0, 0, 0, 0); font-size: 10px;" href="/content/pages/story"> <aheader>Our Story</aheader> </a>
	</div>
	<div class="htext">
	<a style="color: rgba(0, 0, 0, 0); text-shadow: 0 0px 0px rgba(0, 0, 0, 0); font-size: 10px;" href="/blogindex"> <aheader>Blog</aheader> </a>
	</div>
	<div class="htext">
	<a style="color: rgba(0, 0, 0, 0); text-shadow: 0 0px 0px rgba(0, 0, 0, 0); font-size: 10px;" href="/content/pages/about"> <aheader>About Us</aheader> </a>
	</div>
	<div class="htext">
	<a style="color: rgba(0, 0, 0, 0); text-shadow: 0 0px 0px rgba(0, 0, 0, 0); font-size: 10px;" href="/content/pages/media"> <aheader>Media</aheader> </a>
	</div>
	<div class="htext">
	<a style="color: rgba(0, 0, 0, 0); text-shadow: 0 0px 0px rgba(0, 0, 0, 0); font-size: 10px;" href="/content/pages/contact"> <aheader>Contact</aheader> </a>
	</div>
    </div>
	
<div class="topnav" id="myTopnav">
  <a class="navlogo" style="color: rgba(0, 0, 0, 0);" href="https://titusstudiosmediagroup.github.io/" title="Return to homepage">
  <img src="/assets/images/website_logo.png" width="25%">
  </a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="/content/pages/what-we-do" class="active">Home</a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="/content/pages/story">Our Story</a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="/blogindex">Blog</a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="/content/pages/about">About Us</a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="/content/pages/media">Media</a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="/content/pages/contact">Contact</a>
  <a style="color: rgba(0, 0, 0, 1); text-shadow: 0 0px 0px rgba(0, 0, 0, 0);" href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
	
</header>
	  

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width -->
  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7609.png" style="width:100%">
    <div class="text">DFB 7267 hauls Train 1604 to Masterton, Kaiwharawhara, Photo by: John Russell</div>
  </div>
	
  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7607.png" style="width:100%">
    <div class="text">Derailment Cleanup Power, Whakatu/Napier, Photo By: Titus Studios</div>
  </div>

  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7608.png" style="width:100%">
    <div class="text">DC Class Coupled to FSR Passenger Cars, Palmerston North, Photo By: Titus Studios</div>
  </div>

  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7610.png" style="width:100%">
    <div class="text">Shannon Station, Shannon, Photo By: Titus Studios</div>
  </div>
	
  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7612.png" style="width:100%">
    <div class="text">FSR "Wonderful Day In Woodville" Trip, Woodville, Photo By: Titus Studios</div>
  </div>
	
  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7770.png" style="width:100%">
    <div class="text">DL 9452 heading through Hamilton Station, Hamilton, Photo By: Titus Studios</div>
  </div>
	
  <div class="mySlides fade">
    <img src="/assets/images/slideshow-static/IMG_7771.png" style="width:100%">
    <div class="text">DFB Control Stand, Napier, Photo By: Titus Studios</div>
  </div>
	
</div>
	    
<br>
	  
<div class="container">
<section id="main_content">  
	<br>
{{ content }}
	<br>
	<br>
</section>
</div>
	  	  
<footer class="site-footer">
	<div class="footercontainer">
		<br>
		<br>
		<hr>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/pages/what-we-do">What we do</a> </h5>
		<hr>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/pages/story">Our Story</a> </h5>
		<hr>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/blogindex">Blog</a> </h5>
		<hr>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/pages/about">About Us</a> </h5>
		<hr>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/pages/media">Media</a> </h5>
		<hr>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/pages/contact">Contact</a> </h5>
		<hr>
		<br>
     	 	<a class="social-twitter" style="font-size:1vw; text-align: left; color:##424242; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="https://twitter.com/TitusStudiosMG" title="Twitter"> <img src="./assets/images/icons/social_twitter.png" width="3%"> </a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="social_youtube" style="font-size:1vw; text-align: left; color:##424242; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="https://www.youtube.com/channel/UC3HWf_aR5xBSLf5c0PhofnA?" title="YouTube"> <img src="./assets/images/icons/social_youtube.png" width="3%"> </a>
		<br>
		<br>
		<hr>
		<br>
		<h5> <a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/legal/terms-and-conditions">Terms</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:1vw; text-align: left; color:#fff; text-shadow: 0 0px 0px rgba(0, 0, 0, 0); text-decoration: none;" href="/content/legal/privacy-policy">Privacy</a>  </h5> <h5 style="font-size:1vw; text-align:right;"> <anolink style="font-size:1vw; text-align:right;">Copyright © 2019 Titus Studios Media</anolink> </h5>
		<br>
	</div>

</footer>

	  
{% if site.google_analytics %}
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', '{{ site.google_analytics }}', 'auto');
	ga('send', 'pageview');
	</script>
{% endif %}
	  
<script>
	var slideIndex = 0;
	showSlides();

	function showSlides() {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  for (i = 0; i < slides.length; i++) {
	    slides[i].style.display = "none"; 
	  }
	  slideIndex++;
	  if (slideIndex > slides.length) {slideIndex = 1} 
	  slides[slideIndex-1].style.display = "block"; 
	  setTimeout(showSlides, 4000); // Change image every 4 seconds
	}
</script>
	
<script>
     $(document).ready(function() {
	//Preloader
	$(window).on("load", function() {
	preloaderFadeOutTime = 500;
	function hidePreloader() {
	var preloader = $('.spinner-wrapper');
	preloader.fadeOut(preloaderFadeOutTime);
	}
	hidePreloader();
	});
     });
</script>

<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
	  
</body>
</html>
