<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>
  <body>
    
    <header>
      <div class="headercontainer">
      <a class="main-header__logo" href="https://titusstudiosmediagroup.github.io/" title="Return to homepage">
      <img src="https://i.imgur.com/Kj01iOH.png" width="5%">
      <h1><a href="https://titusstudiosmediagroup.github.io/">What we do</a>                                                  <a href="https://titusstudiosmediagroup.github.io/">Our Story</a>                                                  <a href="https://titusstudiosmediagroup.github.io/">Blog</a>                                                  <a href="https://titusstudiosmediagroup.github.io/">About Us</a>                                                  <a href="https://titusstudiosmediagroup.github.io/">Contact</a></h1>   
      </a>
      </div>
    </header>
    
    <div class="container">
      <section id="main_content">   
        {{ content }}
        <p>Copyright © 2019 Titus Studios Media. All rights reserved. <em>Contact Titus Studios Media, for more information or licencing.</em></p>
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
