<html>
    {% include head.html %}
    <body>

        {% include nav.html %}

        <div class="homepage">
            <div class="homepage-header">
                <div class="homepage-header-text">
                    <p>/welcome/</p>
                </div>
            </div>

            <div class="homepage-box-wrapper">
                <div class="homepage-box">
                    <div class="homepage-box-header">
                        <p>Hi, I'm Titus</p>
                    </div>
                    <div class="homepage-box-desc">
                        <p>But thats just my online alias, legally I am known as Paxton, but I'm going to stick with my nickname for now. This is my personal website, I do all kinds of things on here; I run a blog where I post random things about my life, I also use it to host files online.</p>
                    </div>
                </div>
            </div>

            <div class="homepage-box-wrapper">
                <div class="homepage-box">
                    <div class="homepage-box-header">
                        <p>A little about myself</p>
                    </div>
                    <div class="homepage-box-desc">
                        <p>I am an Engineer, Programmer, Video Editor, Visual Interface Designer, Photographer, Server Operator, A grease monkey, And I dress up in big animal costumes every now and then.</p>
                    </div>
                </div>
            </div>

            <div class="homepage-header">
                <div class="homepage-header-text">
                    <p>/projects/</p>
                </div>
            </div>

            <div class="homepage-projects">
                <a class="homepage-project-box-wrapper" href="https://github.com/TitusStudiosMediaGroup/titusstudiosmediagroup.github.io">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>titusstudiosmediagroup.github.io</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-css"></div>
                            <p>CSS</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>Official Titus Studios Media Webiste</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>website</p>
                            </div>
                            <div class="project-tag">
                                <p>titusstudios</p>
                            </div>
                            <div class="project-tag">
                                <p>html</p>
                            </div>
                            <div class="project-tag">
                                <p>css</p>
                            </div>
                            <div class="project-tag">
                                <p>javascript</p>
                            </div>
                            <div class="project-tag">
                                <p>github-pages</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/TitusStudiosMediaGroup/OpenControl">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>OpenControl</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-e2"></div>
                            <p>Expression 2</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>An Open Source Locomotive Control Chip for Garry's Mod built on Wiremod's Expression 2 Environment</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>opencontrol</p>
                            </div>
                            <div class="project-tag">
                                <p>wiremod</p>
                            </div>
                            <div class="project-tag">
                                <p>expression2</p>
                            </div>
                            <div class="project-tag">
                                <p>garry-mod</p>
                            </div>
                            <div class="project-tag">
                                <p>locomotive</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/TitusStudiosMediaGroup/DELTA">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>DELTA</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-js"></div>
                            <p>JavaScript</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>DELTA is a static site file explorer (for sites built on GitHub Pages), using the GitHub REST API</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>delta</p>
                            </div>
                            <div class="project-tag">
                                <p>javascript</p>
                            </div>
                            <div class="project-tag">
                                <p>github-pages</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/OpenSourceProtogenCollection/opensourceprotogencollection.github.io">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>opensourceprotogencollection.github.io</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-html"></div>
                            <p>HTML</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>All the resources for building your own Protogen Fursuit</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>website</p>
                            </div>
                            <div class="project-tag">
                                <p>protogens</p>
                            </div>
                            <div class="project-tag">
                                <p>html</p>
                            </div>
                            <div class="project-tag">
                                <p>github-pages</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/TitusStudiosMediaGroup/electron-soundboard">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>electron-soundboard</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-js"></div>
                            <p>JavaScript</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>First application built with Electron, and my first (proper) delve into JS. Is a simple soundboard for a friend.</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>electron</p>
                            </div>
                            <div class="project-tag">
                                <p>javascript</p>
                            </div>
                            <div class="project-tag">
                                <p>html</p>
                            </div>
                            <div class="project-tag">
                                <p>soundboard</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/OpenSourceProtogenCollection/siegeOS">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>siegeOS</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-cpp"></div>
                            <p>C++</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>Protogen fursuit implementation using LedControl (MAX matrices)</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>protogens</p>
                            </div>
                            <div class="project-tag">
                                <p>opsc</p>
                            </div>
                            <div class="project-tag">
                                <p>cpp</p>
                            </div>
                            <div class="project-tag">
                                <p>arduino</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/MagnumMacKivler/RLCPT2">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>RLCPT2</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-e2"></div>
                            <p>Expression 2</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>RLC Platinum 2.0 Gamma. No description, website, or topics provided.</p>
                        </div>
                    </div>
                </a>
                
                <a class="homepage-project-box-wrapper" href="https://github.com/titus-studios-media/PureAir">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>PureAir</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-e2"></div>
                            <p>Expression 2</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>PureAir Engine Source Code Repository. Responsive air braking processor built on Wiremod's Expression 2 Environment</p>
                        </div>
                        <div class="homepage-project-box-tags">
                            <div class="project-tag">
                                <p>pureair-engine</p>
                            </div>
                            <div class="project-tag">
                                <p>expression2</p>
                            </div>
                            <div class="project-tag">
                                <p>wiremod</p>
                            </div>
                            <div class="project-tag">
                                <p>rlcpt-gamma</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="homepage-project-box-wrapper" href="https://github.com/titus-studios-media/GSG-Universal-Gauge-by-Titus">
                    <div class="homepage-project-box">
                        <div class="homepage-project-box-header">
                            <p>GSG Universal Gauge</p>
                        </div>
                        <div class="homepage-project-box-lang">
                            <div class="homepage-project-box-lang-e2"></div>
                            <p>Expression 2</p>
                        </div>
                        <div class="homepage-project-box-desc">
                            <p>GSG Universal Gauge. No description, website, or topics provided.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="homepage-header">
                <div class="homepage-header-text">
                    <p>/contact/</p>
                </div>
            </div>

            <div class="homepage-box-wrapper">
                <div class="homepage-box">
                    <div class="homepage-box-header">
                        <p>Contacting Me</p>
                    </div>
                    <div class="homepage-box-desc">
                        <p>You can contact me using any of the following:</p>
                        <p>Email: titusstudiosmediagroup@gmail.com</p>
                        <p>Twitter: <a href="https://twitter.com/TitusStudiosMG">@TitusStudiosMG</a></p>
                        <p>Telegram: <a href="https://t.me/titusstudios">@TitusStudios</a></p>
                        <p>Discord: TitusStudios#8833</p>
                        <p>Find more ways here: <a href="https://www.titusstudios.net/contact">Goto Contact Page</a></p>
                    </div>
                </div>
            </div>

            <div class="homepage-header">
                <div class="homepage-header-text">
                    <p>/page end/</p>
                </div>
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
